grand-project/ai/Recipe Generator.json
{
  "name": "Recipe Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-recipe",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "b4c33d6d-e0dc-4944-ae98-7f41375998c9",
      "name": "Webhook",
      "webhookId": "f774410e-7daf-4530-819b-00c0627c13b1"
    },
    {
      "parameters": {
        "jsCode": "const ingredients = $json.body?.ingredients ?? \"unknown\";\nconst diet = $json.body?.diet ?? \"none\";\n\nreturn [\n  {\n    json: {\n      prompt: `Generate a short and simple recipe using the following ingredients: ${ingredients}. The dietary preference is: ${diet}.\nFormat:\n- Start with a heading \"Recipe Title\" followed by a suitable dish name according to recipe.\n- Then a heading \"Ingredients:\" followed by bullet points (one ingredient per line).\n- Then a heading \"Recipe Steps:\" followed by numbered steps (one per line).\n\nRules:\n- Use only 5 to 7 ingredients.\n- Use 4 to 6 short steps.\n- No greetings, no explanations, no extra notes.\n`\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "97e6c0a2-0949-46c3-b209-9d06dbba7ebf",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"output\": {{ JSON.stringify($json[\"content\"][\"parts\"][0][\"text\"]) }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        848,
        0
      ],
      "id": "16230166-a180-4ca7-94c3-530116805b96",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "3ec51ea9-28c5-4e57-9c24-00bca951ca50",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "yuTM2Xc7moQfTz2e",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "81206e20-76ab-46d5-bb3d-5d9e527a109b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae44645da7fa672914c1fb5d2794d41c69a0476ae02b0ccfac89af949527d69e"
  },
  "id": "zabHdaLnoz1Q1wJu",
  "tags": []
}